<div class="row">
    <form [formGroup]="vacationForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input 
                        type="date"
                        class="form-control"
                        id="startDate"
                        formControlName="startDate"
                        useValueAsDate
                        >
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input 
                        type="date"
                        class="form-control"
                        id="endDate"
                        formControlName="endDate"
                        useValueAsDate
                        >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <textarea 
                type="text"
                class="form-control" 
                id="note"
                rows="3"
                formControlName="note">Write a note
            </textarea>
            </div>   
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button 
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!vacationForm.valid">Submit
                </button>
                <button 
                    type="button"
                    class="btn btn-danger"
                    (click)="onCancel()">Cancel
                </button>
            </div>
        </div>
    </form>
</div>