<div class="row">
    <div class="col-md-4">
    <div class="row">
        <div class="pull-left">
            <h4>Select a user
            </h4>
        </div>
        <div class="pull-right">
            <button class="btn btn-success" (click)="onSaveChanges()" [disabled]="!changesMade">Save Changes</button>
        </div>
    </div>
        <ul *ngFor="let user of userList; let i=index" class="list-group list-group-flush">
            <li *ngIf="!isApproved[i]" class="list-group-item list-group-item-danger">
                <p>{{ user.lastName }} {{ user.firstName }}: {{ unapprovedAmount[i] }} unapproved vacations</p>
                <button class="btn btn-primary" (click)="onOpenView(i)">View {{ user.firstName }}'s calendar</button>
            </li>
        </ul>
        <hr>
        <ul *ngFor="let user of userList; let i=index" class="list-group list-group-flush">
            <li *ngIf="isApproved[i]" class="list-group-item list-group-item-success">
                <p>{{ user.firstName }} {{ user.lastName }}: {{ unapprovedAmount[i] }} unapproved vacations</p>
                <button class="btn btn-primary" (click)="onOpenView(i)">View {{ user.firstName }}'s calendar</button>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>